      <h2 id="faq">Frequently Asked Questions</h2>

      <h3 id="faq-how-is-this-different-from-openid">How is this different from OpenID?</h3>
      <p>The goals of OpenID and IndieAuth are similar. Both encourage you to sign in to a website using your own domain name. However, OpenID has failed to gain wide adoption, at least in part due to the complexities of the protocol. IndieAuth is a simpler implementation of a similar goal, by leveraging other OAuth providers and behaviors that people are already accustomed to.</p>

      <h3>Does this require users to have their own domain name?</h3>
      <p>Yes, the assumption is that people are willing to <a href="http://indiewebcamp.com/why">own their online identities</a> in the form of a domain name. It is getting easier and easier to host content on your own domain name. See "<a href="http://indiewebcamp.com/Getting_Started">Getting Started on the Indie Web</a>"" for some suggestions, including mapping your domain to a Tumblr blog, or signing up for a simple web hosting service like <a href="http://www.dreamhost.com/r.cgi?426455">Dreamhost</a>.</p>

      <h3 id="faq-dependent-on-your-site">But doesn't this make me dependent on your site, indieauth.com?</h3>
      <p>You are more than welcome to run this software on your own website! We continue to host indieauth.com for convenience, for people who don't want to invest the time to write OAuth code for providers over and over again. However, you are encouraged to run this software on your own site if you would like to support IndieAuth logins! Feel free to run your own IndieAuth server by <a href="https://github.com/aaronpk/IndieAuth">downloading the source code</a>, or you can implement the <a href="http://microformats.org/wiki/RelMeAuth">RelMeAuth</a> protocol directly.</p>

      <h3 id="faq-how-to-be-added-to-supported-providers">I run an authentication provider, how can I be added to the "supported providers" list?</h3>
      <p>
        We gladly welcome new providers! The goal is to support as many as possible so users are not reliant on any one in particular. Here is what you need to do to be supported by IndieAuth.
        <ul>
          <li>Ensure your users have a way to enter their website address in the "profile" section of your website.</li>
          <li>When displaying the HTML rendering of a user's page, ensure the <a href="http://microformats.org/wiki/rel-me">rel="me"</a> attribute is set on the link.</li>
          <li>Write an <a href="http://www.omniauth.org/">Omniauth</a> plugin to handle authenticating with your API, and submit it to the <a href="https://github.com/intridea/omniauth/wiki/List-of-Strategies">List of Omniauth Strategies</a> page.</li>
          <li>Integrate the new provider into the <a href="https://github.com/aaronpk/IndieAuth">IndieAuth source code</a>, or just <a href="https://github.com/aaronpk/IndieAuth/issues/new">open an issue</a> with your request.</li>
        </ul>
      </p>
