<div class="footer">
  <div class="fill">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h5>IndieWeb</h5>
          <ul class="unstyled">
            <li><a href="http://indiewebcamp.com/why">Why the Indie Web?</a></li>
            <li><a href="http://indiewebcamp.com/Getting_Started">Getting Started</a></li>
            <li><a href="http://indiewebcamp.com/projects">List of Projects</a></li>
          </ul>
        </div>
        <div class="span4">
          <h5>Microformats</h5>
          <ul class="unstyled">
            <li><a href="http://microformats.org/wiki/RelMeAuth">RelMeAuth</a></li>
            <li><a href="http://microformats.org/wiki/web-sign-in">Web Sign-In</a></li>
            <li><a href="http://microformats.org/wiki/rel-me">rel="me"</a></li>
          </ul>
        </div>
        <div class="span4">
          <h5>Community</h5>
          <ul class="unstyled">
            <li><a href="https://twitter.com/indiewebcamp">IndieWebCamp Twitter</a></li>
            <li><a href="http://indiewebcamp.com/Main_Page">IndieWebCamp Wiki</a></li>
            <li><a href="http://microformats.org/Main_Page">Microformats Wiki</a></li>
            <li><a href="http://webchat.freenode.net/?channels=indiewebcamp&amp;nick=webchat<%=rand(400)%>">#indiewebcamp IRC</a></li>
            <li><a href="http://webchat.freenode.net/?channels=microformats&amp;nick=webchat<%=rand(400)%>">#microformats IRC</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
