development:
  root: https://localhost:9292
  openid_root: https://openid.example.com
  this_server: primary.example.com
  cookie_domain: ".example.com"
  # Stop accepting websites, and apps, that have not used this service
  # before, ahead of shutting it down. Both sides are closed separately:
  # closing to new sites alone would break new users of apps that sign people
  # in here, who have nothing of their own to move.
  closed_to_new_sites: false
  closed_to_new_apps: false

  # The service that replaces the user-facing side of IndieAuth.com. Leave it
  # out and no replacement is advertised anywhere.
  replacement:
    name: IndieKey
    url: https://indiekey.id/
    # The day everyone still using this service is moved over to it. Once set,
    # every page counts down to it; leave it out until the date is settled.
    # migrate_on: 2026-10-15
  stats:
    server: https://stats.example.com
    token: "000000"
  session_secret: "PUT SOMETHING HERE"
  jwt_key: "PUT SOMETHING HERE"
  ga_id: UA-XXXXXXXX
  credit: <a href="http://indiewebcamp.com/sponsors">sponsors</a> of IndieWebCamp events
  redis:
    host: 127.0.0.1
    port: 6379
  mailgun:
    api_key: xxx
    domain: mail.example.com
    from: "login@indieauth.com"
  providers:
    flickr:
      client_id: 
      client_secret: 
    github:
      client_id: 
      client_secret:
    gitlab:
      client_id:
      client_secret:
    google_oauth2:
      client_id: 
      client_secret: 
    twitter:
      client_id: 
      client_secret: 
    lastfm:
      client_id: 
      client_secret: 
    beeminder:
      client_id: 
      client_secret: 
    eventbrite:
      client_id: 
      client_secret: 
