<div class="hero-unit">
  <h1>IndieAuth Documentation</h1>
</div>

<div class="container">
  <div class="section">
    <%= partial :'partials/_documentation' %>
  </div><!-- section -->
</div><!-- container -->

<%= partial :'partials/_footer' %>
