
<div class="hero-unit">
  <h1><%== @error_title ? @error_title : "There was a problem!" %></h1>
</div>

<div class="container">

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-lg-12">
      <h2 style="text-align: center;"><%== @message %></h2>
      <p style="text-align: center;"><%= @error_details %></p>
    </div>
  </div><!-- row -->

  <div class="section">
  <div class="row">
    <div class="col-lg-12">
      <p>If you're having trouble, please see our <a href="/setup">setup instructions</a> for more information.</p>
    </div>
  </div><!-- row -->
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
