<div class="hero-unit">
  <h1>IndieAuth FAQ</h1>
</div>

<div class="container">
  <div class="section narrow large h-entry">

      <h2 id="faq">Frequently Asked Questions</h2>

      <h3 id="relmeauth"><a href="#relmeauth"></a>What is RelMeAuth?</h3>
      <p><a href="https://indieweb.org/RelMeAuth">RelMeAuth</a> is a way to identify yourself as your domain name while using third party OAuth providers to authenticate.</p>

      <h3 id="faq-how-is-this-different-from-openid"><a href="#faq-how-is-this-different-from-openid"></a>How is this different from OpenID?</h3>
      <p>The goals of OpenID and RelMeAuth are similar. Both encourage you to sign in to a website using your own domain name. However, <a href="https://indieweb.org/OpenID#Shutdowns">OpenID has been almost entirely abandoned</a>, at least in part due to the complexities of the protocol. RelMeAuth is a simpler implementation of a similar goal, by leveraging other OAuth providers and behaviors that people are already accustomed to.</p>

      <h3 id="faq-can-links-be-hidden">Can my rel="me" links be hidden on my home page?</h3>
      <p>Yes, your rel="me" links do not need to be visible, but the html does need to be on your home page. You can hide the links with CSS, or include them as &lt;link&gt; tags in your html head.</p>

      <h3 id="faq-require-users-have-own-domain">Does this require users to have their own domain name?</h3>
      <p>Yes, the assumption is that people are willing to <a href="https://indieweb.org/why">own their online identities</a> in the form of a domain name. It is getting easier and easier to host content on your own domain name. See "<a href="https://indieweb.org/Getting_Started">Getting Started on the Indie Web</a>" for some suggestions, including mapping your domain to a Tumblr blog, or signing up for a simple web hosting service like <a href="http://www.dreamhost.com/r.cgi?426455">Dreamhost</a>.</p>

      <h3 id="faq-dependent-on-your-site">But doesn't this make me dependent on your site, indieauth.com?</h3>
      <p>This service exists for websites to use if they don't want to implement OAuth code for each provider. As a user signing in to the site, you don't need to worry about whether the site is using indieauth.com or some other RelMeAuth service.</p>

      <h3 id="faq-what-if-indieauth-com-is-down">What if IndieAuth.com is down?</h3>
      <p>If an application is using IndieAuth.com as an auth service and IndieAuth.com is down, then logins to that website will not work. However this is just the same as if that site's own internal auth service is down had they implemented it themselves. Because of this potential risk, it is possible that some apps may wish to run their own instance of this software or implement <a href="https://indieweb.org/RelMeAuth">RelMeAuth</a> directly to avoid relying on a third party service.</p>

      <h3 id="faq-how-to-be-added-to-supported-providers">I run an authentication provider, how can I be added to the "supported providers" list?</h3>
      <p>
        We gladly welcome new providers! The goal is to support as many as possible so users are not reliant on any one in particular. Here is what you need to do to be supported by IndieAuth.com.
        <ul>
          <li>Ensure your users have a way to enter their website address in the "profile" section of your website.</li>
          <li>When displaying the HTML rendering of a user's page, ensure the <a href="http://microformats.org/wiki/rel-me">rel="me"</a> attribute is set on the link.</li>
          <li>Write an <a href="https://github.com/omniauth/omniauth">Omniauth</a> plugin to handle authenticating with your API, and submit it to the <a href="https://github.com/intridea/omniauth/wiki/List-of-Strategies">List of Omniauth Strategies</a> page.</li>
          <li>Integrate the new provider into the <a href="https://github.com/aaronpk/IndieAuth">IndieAuth.com source code</a>, or just <a href="https://github.com/aaronpk/IndieAuth/issues/new">open an issue</a> with your request.</li>
        </ul>
      </p>

      <h3 id="why-isnt-google-plus-working">Why isn't Google+ working?</h3>
      <p>Google+ profiles are no longer supported, due to Google continuing to change the behavior and markup of profiles.</p>
      <!--
      <p>Google+ profiles only put the rel="me" attribute on links for personal pages, not for business/brand/place/community pages. The "Links" section on the "about" page of a Google+ profile contains several subsections including "other profiles", "contributor to", and "links".</p>
      <p>For IndieAuth.com to work with Google+, the link back to your website must be in the "other profiles" subsection, which must be visible to the public, and you must also have the "Links" section visible to the public.</p>
      -->

      <h3 id="why-permissions">Why does IndieAuth.com need to see my tweets and see who I follow?</h3>
      <p>IndieAuth.com requests the minimum permissions from each OAuth provider. In some cases providers do not provide a scope that only verifies identity without also giving access to data such as public tweets.</p>


  </div><!-- section -->
</div><!-- container -->

<%= partial :'partials/_footer' %>
