<%= partial :'partials/_banner' %>

<div class="container">

  <div class="section narrow large h-entry">

      <h2 id="history" class="p-name">The History of IndieAuth.com</h2>

      <p>By <a href="https://aaronparecki.com/" rel="author" class="p-author h-card">Aaron Parecki</a></p>

      <div class="e-content">
        <p>IndieAuth.com is an implementation of <a href="http://microformats.org/wiki/RelMeAuth">RelMeAuth</a>, originally <a href="http://tantek.com/2010/032/t5/modest-proposal-authentication-oauth-twitter-rel-me">proposed by Tantek Çelik</a> in February 2010. The original algorithm was described <a href="http://tantek.com/2010/032/t6/relmeauth-oauth-rel-me-auto-fallback-authentication">in a short text update</a> on Tantek's website. Later that evening, Jeff Lindsay and Paul Tarjan implemented RelMeAuth in an open source Python library at Hacker Dojo and <a href="http://krijnhoetmer.nl/irc-logs/microformats/20100203">discussed/tested it in IRC</a>. Tantek later launched a RelMeAuth prototype on his domain, which you can try out at <a href="http://tantek.com/relmeauth/">tantek.com/relmeauth</a>.</p>

        <p>In 2011, we held the first <a href="https://indieweb.org/2011">IndieWebCamp</a> in Portland. The registration process involved setting up OpenID on your own domain (or delegating your domain to an OpenID provider), and signing in to the IndieWebCamp Wiki and adding yourself to the <a href="https://indieweb.org/2011/Guest_List">guest list</a>. Most people were able to successfully complete this <a href="https://indieweb.org/How_to_set_up_OpenID_on_your_own_domain">intentional barrier to entry</a>, but there were still parts that were cumbersome.</p>

        <p>It was suggested that for the 2012 IndieWebCamp, we handle registrations via RelMeAuth instead, to slightly lower the barrier to entry. I shuddered at facing the daunting task of writing multiple OAuth clients as <a href="http://www.mediawiki.org/wiki/AuthPlugin">MediaWiki extensions</a> in order to properly support RelMeAuth. It was then that the idea of IndieAuth.com was born.</p>

        <p>What I needed was to write the RelMeAuth and OAuth client code once and be able to use it on any website needing authentication from here on out. I decided to build IndieAuth.com as a hosted service that anyone can easily use if they want to support RelMeAuth logins. By abstracting out the rel="me" and OAuth client logic into a very simple HTTP+JSON interface, it is now possible to quickly write a web page needing authentication by relying on IndieAuth.com to do the legwork.</p>

        <p>In March 2012, I built a prototype of the site and <a href="https://indieweb.org/irc/2012-03-28#t1333002549">gave a quick explanation</a> in the #indiewebcamp IRC channel. A few days later, I launched this site on indieauth.com!</p>

        <p>The IndieWeb community has continued to use and build upon IndieAuth.com. You can read more about IndieAuth.com <a href="https://indieweb.org/IndieAuth">on the IndieWeb wiki</a>.</p>
      </div>

  </div>

</div>

<%= partial :'partials/_footer' %>
