<div class="hero-unit">
  <h1>IndieAuth: Own your online identity</h1>
  <p></p>
  <p><a class="btn btn-primary btn-large">Web Sign-In &raquo;</a></p>
</div>

<div class="container">

  <div class="row">
    <div class="span6">

      <img src="" width="570" height="300" />

    </div>
    <div class="span6">

      <h2>What is IndieAuth?</h2>

      <p>IndieAuth is lorem ipsum...</p>

      <hr />

      <h2>Why IndieAuth?</h2>

      <p>Blah blah</p>

    </div>
  </div><!-- row -->

  <div class="row section">
    <div class="span4">
      <h3>Documentation</h3>
      
      <ul class="thumbnails">
        <li>
          <a class="thumbnail" href="/documentation">
            <img src="/img/code-sample.png" width="370" height="154" />
          </a>
        </li>
      </ul>

      <h4>How to Use IndieAuth</h4>
      <ul>
        <li><a href="">One</a></li>
      </ul>

    </div><!-- span4 -->
    <div class="span4">
      <h3>Use Cases</h3>

      <ul>  
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

    </div><!-- span4 -->
    <div class="span4">
      <h3>Community</h3>

      <ul class="thumbnails">
        <li class="span1">
          <a class="thumbnail" href="http://indiewebcamp.com/Main_Page"><img src="/img/wiki-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://github.com/aaronpk/IndieAuth"><img src="/img/github-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://twitter.com/indiewebcamp"><img src="/img/twitter-button.png" width="114" height="114" /></a>
        </li>
      </ul>

      <h4>Join Us</h4>
      <ul>
        <li>Add yourself to the <a href="http://indiewebcamp.com/Guest_List">Guest List</a> after logging in with your own domain</li>
        <li>Add your own IndieWeb projects to the <a href="http://indiewebcamp.com/Projects">Project List</a></li>
        <li>Attend IndieWebCamp 2012 in Portland, Oregon from <a href="http://indiewebcamp.com/Main_Page">June 30 to July 1, 2012</a>.</li>
      </ul>

    </div><!-- span4 -->
  </div><!-- row -->

</div><!-- container -->