  <%= partial :'partials/_banner' %>

<div class="container">

  <div class="narrow section">
    <div class="imgfloat h-app">
        <div class="img"><img src="/img/indieauth-logo-color.png" width="159" height="200" class="u-logo" /></div>

        <div class="text">
          <h2>What is <span class="p-name">IndieAuth.com</span>?</h2>
          <p>IndieAuth.com provides an IndieAuth server for your website that authenticates you using your existing social accounts. First you link from your website to one or more authentication providers such as GitHub or a PGP key, then when you enter your domain name in the web sign-in form on websites that support IndieAuth, you can sign in without using a password.</p>
        </div>
        <a href="/" class="u-url"></a>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-lg-6">

        <a class="img-thumbnail" href="#"><img src="/img/web-signin-splash.jpg" width="550" height="350" /></a>

      </div>
      <div class="col-lg-6 intro">

        <h2>Why IndieAuth.com?</h2>
        <p>IndieAuth.com is part of the <a href="https://indieweb.org/why">IndieWeb movement</a> to take back control of your online identity. Instead of logging in to websites as "you on Twitter" or "you on Facebook", <b>you should be able to log in as just "you".</b> We should not be relying on Twitter or Facebook to provide our authenticated identities, we should be able to use our own domain names to log in to sites everywhere.</p>
        <p>IndieAuth.com was built to make it as easy as possible for users and for developers to start using this new way of signing in on the web, without the complexities of OpenID.</p>

      </div>
    </div><!-- row -->
  </div>

  <div class="alert alert-danger" role="alert" style="margin-bottom: 3em;">
    Deprecation Notice: Due to the <a href="https://indieweb.org/IndieAuth-brainstorming#naming_confusion">naming confusion</a> around this service, it will eventually be replaced by two new services. See below for details.
  </div>

  <div class="section">
    <div class="row">
      <div class="col-lg-6">
        <h4>For Developers</h4>

        <p><a href="https://indielogin.com/api">IndieLogin.com</a>, currently in beta, is a service for developers who are building apps and want their users to sign in with their own domain name. Users can authenticate via a variety of methods, including <a href="https://www.w3.org/TR/indieauth/">IndieAuth</a>, Twitter, GitHub, email address, or PGP key.</p>

        <p>If you are a developer building an app, please either implement <a href="https://www.w3.org/TR/indieauth/#authentication">IndieAuth for authentication</a> directly, or use <a href="https://indielogin.com/api">IndieLogin.com</a> to abstract that for you, while also supporting Twitter, GitHub, email and PGP authentication.</p>
      </div>
      <div class="col-lg-6">
        <h4>For Users</h4>

        <p>If you would like to quickly support <a href="https://www.w3.org/TR/indieauth/">IndieAuth</a> for your Micropub endpoint, and your website's software does not already have a built-in IndieAuth server, you can use IndieAuth.com as your IndieAuth authorization endpoint.</p>

        <p>Eventually, this use of IndieAuth.com will be replaced by a new service, although it is not yet ready for use. In the mean time, you can continue to use this service, and you will be given plenty of notice before this service shuts down.</p>

        <p>For alternatives to this service, please visit <a href="https://indieweb.org/IndieAuth">indieweb.org/IndieAuth</a></p>
      </div>
    </div>
  </div>


  <div class="section">
  <div class="row">
    <div class="col-lg-4">
      <h3>How to Set Up IndieAuth.com</h3>

      <a class="img-thumbnail" href="/setup">
        <img src="/img/code-sample.png" width="100%">
      </a>

      <ul>
        <li>Add a link on your home page to your various social profiles with the attribute <a href="http://microformats.org/wiki/rel-me">rel="me"</a></li>
        <li>Ensure your profiles link back to your home page</li>
        <li>Enter your domain in a "<a href="http://microformats.org/wiki/web-sign-in">Web Sign-In</a>" box to begin using your own domain as your online identity!</li>
      </ul>
      <a href="/setup">Full setup instructions</a>

    </div><!-- col-lg-4 -->
    <div class="col-lg-4">
      <h3>Try It!</h3>

      <form action="/auth" method="get" class="well">
        <div class="form-group">
          <label for="indie_auth_url">Web Address:</label>
          <input id="indie_auth_url" type="text" name="me" class="form-control" placeholder="yourdomain.com" />
        </div>
        <p><button type="submit" class="btn btn-default">Sign In</button></p>
        <input type="hidden" name="client_id" value="<%= SiteConfig.root %>" />
        <input type="hidden" name="redirect_uri" value="<%= SiteConfig.root %>/success" />
      </form>

    </div><!-- col-lg-4 -->
    <div class="col-lg-4">
      <h3 id="community">Community</h3>

      <a class="img-thumbnail" href="https://indieweb.org/IndieAuth"><img src="/img/wiki-button.png" width="100" height="100" /></a>
      <a class="img-thumbnail" href="http://github.com/aaronpk/IndieAuth.com"><img src="/img/github-button.png" width="100" height="100" /></a>
      <a class="img-thumbnail" href="https://twitter.com/indiewebcamp"><img src="/img/twitter-button.png" width="100" height="100" /></a>

      <h4>Join Us</h4>
      <ul>
        <li>Attend an <a href="https://indieweb.org/events">IndieWebCamp event</a></li>
        <li>Add your own IndieWeb projects to the <a href="https://indieweb.org/projects">Project List</a></li>
      </ul>

    </div><!-- col-lg-4 -->
  </div><!-- row -->
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>

