<%= partial :'partials/_banner' %>

<div class="container">

  <div class="narrow">
    <div class="imgfloat">
        <div class="img"><img src="/img/indieauth-logo-color.png" width="159" height="200" /></div>

        <div class="text">
          <h2>What is IndieAuth?</h2>
          <p>IndieAuth is a way to <b>use your own domain name</b> to sign in to websites. It works by linking your website to one or more authentication providers such as Twitter or Google, then entering your domain name in the login form on websites that support IndieAuth.</p>
        </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span6">

      <ul class="thumbnails">
        <li>
          <a class="thumbnail" href="#"><img src="/img/web-signin-splash.jpg" width="550" height="350" /></a>
        </li>
      </ul>

    </div>
    <div class="span6 intro">

      <h2>Why IndieAuth?</h2>
      <p>IndieAuth is part of the <a href="http://indiewebcamp.com/why">IndieWeb movement</a> to take back control of your online identity. Instead of logging in to websites as "you on Twitter" or "you on Facebook", <b>you should be able to log in as just "you".</b> We should not be relying on Twitter or Facebook to provide our authenticated identities, we should be able to use our own domain names to log in to sites everywhere.</p>
      <p>IndieAuth was built to make it as easy as possible for users and for developers to start using this new way of signing in on the web, without the complexities of OpenID.</p>

    </div>
  </div><!-- row -->

  <br />

  <div class="section">
  <div class="row">
    <div class="span4">
      <h3>How to Set Up IndieAuth</h3>
      
      <ul class="thumbnails">
        <li>
          <a class="thumbnail" href="/setup">
            <img src="/img/code-sample.png" width="370" height="154" />
          </a>
        </li>
      </ul>
      <ul>
        <li>Add a link on your home page to your various social profiles with the attribute <a href="http://microformats.org/wiki/rel-me">rel="me"</a></li>
        <li>Ensure your profiles link back to your home page</li>
        <li>Enter your domain in a "<a href="http://microformats.org/wiki/web-sign-in">Web Sign-In</a>" box to being using your own domain as your online identity!</li>
      </ul>
      <a href="/setup">Full setup instructions</a>

    </div><!-- span4 -->
    <div class="span4">
      <h3>Try It!</h3>

      <form action="/auth" method="get" class="well">
        <label for="indie_auth_url">Web Address:</label>
        <input id="indie_auth_url" type="text" name="me" class="span3" placeholder="yourdomain.com" />
        <p><button type="submit" class="btn">Sign In</button></p>
        <input type="hidden" name="client_id" value="<%= SiteConfig.root %>" />
        <input type="hidden" name="redirect_uri" value="<%= SiteConfig.root %>/success" />
      </form>

    </div><!-- span4 -->
    <div class="span4">
      <h3 id="community">Community</h3>

      <ul class="thumbnails">
        <li class="span1">
          <a class="thumbnail" href="http://indiewebcamp.com/IndieAuth"><img src="/img/wiki-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://github.com/aaronpk/IndieAuth"><img src="/img/github-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="https://twitter.com/indiewebcamp"><img src="/img/twitter-button.png" width="114" height="114" /></a>
        </li>
      </ul>

      <h4>Join Us</h4>
      <ul>
        <li>Attend an <a href="http://indiewebcamp.com/events">IndieWebCamp event</a></li>
        <li>Add yourself to the <a href="http://indiewebcamp.com/Guest_List">IndieWebCamp Guest List</a> after signing in with your own domain</li>
        <li>Add your own IndieWeb projects to the <a href="http://indiewebcamp.com/projects">Project List</a></li>
      </ul>

    </div><!-- span4 -->
  </div><!-- row -->
  </div><!-- section -->

  <div class="section narrow providers">
    <h2 id="supported-providers">Authentication providers currently supported</h2>

    <ul class="" style="list-style-type: none;">
      <li><div class="">
        <img src="/img/providers/github.png" alt="Github" width="57" height="57" />
      </div></li>
      <li><div class="">
        <img src="/img/providers/twitter.png" alt="Twitter" width="57" height="57" />
      </div></li>
      <li><div class="">
        <img src="/img/providers/google.png" alt="Google" width="57" height="57" />
      </div></li>
      <li><div class="">
        <img src="/img/providers/appnet.png" alt="App.net" width="57" height="57" />
      </div></li>
      <li><div class="">
        <img src="/img/providers/sms.png" alt="SMS" width="57" height="57" />
      </div></li>
      <li><div class="">
        <img src="/img/providers/persona.png" alt="Persona" width="57" height="57" />
      </div></li>
      <li><div class="">
        <img src="https://www.beeminder.com/images/beeminder_finals/ios_logo_bee_110.png" 
             alt="Beeminder" width="57" height="57" />
      </div></li>
<!--
      <li><div class="thumbnail">
        <img src="/img/providers/flickr.png" alt="Flickr" width="57" height="57" />
      </div></li>
--> 
<!--         
      <li><div class="thumbnail">
        <img src="/img/providers/geoloqi.png" alt="Geoloqi" width="57" height="57" />
      </div></li>
      <li><div class="thumbnail">
        <img src="/img/providers/foursquare.png" alt="Foursquare" width="57" height="57" />
      </div></li>
      <li><div class="thumbnail">
        <img src="/img/providers/facebook.png" alt="Facebook" width="57" height="57" />
      </div></li>
-->      
      </ul>
    <div style="clear: both;"></div>
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>

