
<div class="container">
  <div class="narrow">

      <form action="<%= SiteConfig.root %>/auth" method="get" class="well" style="margin: 20px 0;">
        <div class="form-group">
          <label for="indie_auth_url">Your Website:</label>
          <input id="indie_auth_url" type="text" name="me" class="form-control" placeholder="yourdomain.com" />
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
        <input type="hidden" name="redirect_uri" value="<%= params['redirect_uri'] ? params['redirect_uri'] : "#{SiteConfig.root}/success" %>" />
        <input type="hidden" name="client_id" value="<%= params['client_id'] ? params['client_id'] : "" %>" />
        <input type="hidden" name="state" value="<%= params['state'] ? params['state'] : "" %>" />
      </form>



      <h3>Sign in with your website</h3>
      
      <a class="thumbnail" href="https://indieauth.com/setup">
        <img src="/img/code-sample.png"/>
      </a>

      <p>This is a <a href="https://indieweb.org/web_sign-in">web sign-in</a> prompt. To use it, you'll need to:</p>

      <ul>
        <li>Add links on your website to your various social profiles (Twitter, Github, etc) with the attribute <a href="http://microformats.org/wiki/rel-me">rel="me"</a></li>
        <li>Ensure these profiles link back to your website</li>
        <li>Alternatively, you can <a href="https://indieweb.org/authorization-endpoint">set up your domain to support the IndieAuth protocol</a></li>
      </ul>
      <p>Read the <a href="https://indieweb.org/How_to_set_up_web_sign-in_on_your_own_domain">full setup instructions</a></p>

      <div style="margin-bottom: 200px;"></div>
  </div>
</div>