
<div class="hero-unit">
  <h1>You Successfully Authenticated!</h1>
</div>

<div class="container">

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-lg-12">
      <h2 style="text-align: center;">Congrats! You've successfully authenticated as <b><%= @domain %></b></h2>
    </div>
  </div><!-- row -->

  <div class="section">
  <div class="row">

    <div class="col-lg-4">
      <h3>What's Next?</h3>
      <p><a href="/developers">Create a sign-in form</a> to use IndieAuth.com to sign people in on your website.</p>
    </div>

    <div class="col-lg-4">
      <h3>Add more authentication providers</h3>
      <p>Try adding an email address or PGP key to your website to avoid using a third-party OAuth provider when signing in.</p>
      <p>Install an IndieAuth server such as <a href="https://github.com/barryf/acquiescence">Acquiescence (Ruby)</a> or <a href="https://github.com/Inklings-io/selfauth">SelfAuth (PHP)</a>, or <a href="https://indieweb.org/authorization-endpoint">build your own</a>!</p>
    </div>

    <div class="col-lg-4">
      <h3>Join the Community</h3>
      <ul>
        <li>Attend <a href="https://indieweb.org/events">an IndieWebCamp event</a></li>
        <li><a href="https://indieweb.org/discuss">Join the chat</a> and add yourself to <a href="https://indieweb.org/irc-people">irc-people</a></li>
      </ul>

      <a class="img-thumbnail" href="https://indieweb.org/"><img src="/img/wiki-button.png" width="100" height="100" /></a>
      <a class="img-thumbnail" href="https://github.com/aaronpk/IndieAuth.com"><img src="/img/github-button.png" width="100" height="100" /></a>
      <a class="img-thumbnail" href="http://twitter.com/Indie_Auth"><img src="/img/twitter-button.png" width="100" height="100" /></a>
    </div>

  </div><!-- row -->
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
