
<div class="hero-unit">
  <h1>You Successfully Authenticated!</h1>
</div>

<div class="container">

  <div class="row" style="margin-bottom: 50px;">
    <div class="span12">
      <h2 style="text-align: center;">Congrats! You've successfully authenticated as <b><%= @domain %></b></h2>
    </div>
  </div><!-- row -->

  <div class="section">
  <div class="row">

    <div class="span4">
      <h3>What's Next?</h3>
      <p><a href="/developers">Create a sign-in form</a> to use IndieAuth.com to sign people in on your website.</p>
      <p>Learn more about the <a href="https://indieweb.org/IndieAuth">IndieAuth protocol</a> on the IndieWeb wiki</p>
    </div>

    <div class="span4">
      <h3>Add more authentication providers</h3>
      <p>Try adding an email address or PGP key to your website to avoid using a third-party OAuth provider when signing in.</p>
      <p>Try another IndieAuth provider such as <a href="https://indiecert.net/">indiecert.net</a>, or <a href="https://indieweb.org/authorization-endpoint">build your own</a>!</p>
    </div>

    <div class="span4">
      <h3>Join the Community</h3>
      <ul>
        <li>Attend <a href="https://indieweb.org/events">an IndieWebCamp event</a></li>
        <li>Add your own IndieWeb projects to the <a href="https://indieweb.org/projects">Project List</a></li>
      </ul>

      <ul class="thumbnails">
        <li class="span1">
          <a class="thumbnail" href="https://indieweb.org/"><img src="/img/wiki-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://github.com/aaronpk/IndieAuth"><img src="/img/github-button.png" width="114" height="114" /></a>
        </li>
        <li class="span1">
          <a class="thumbnail" href="http://twitter.com/Indie_Auth"><img src="/img/twitter-button.png" width="114" height="114" /></a>
        </li>
      </ul>
    </div>
    
  </div><!-- row -->  
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
