
<div class="hero-unit">
  <h1>Set up Google Authenticator</h1>
</div>

<div class="container">

  <div class="section">
  <div class="row">
    <div class="span4">
      <h3>Install the Google Authenticator App</h3>
      <p>You can use the Google Authenticator app as an authentication provider for your domain!</p>
      <p>Sign in with your domain to generate the QR code to set up the app.</p>
    </div>
    <form action="/auth" method="get" class="well span4">
      <label>Web Address:</label>
      <input type="text" name="me" class="span3" placeholder="yourdomain.com" />
      <p><button type="submit" class="btn">Sign In</button></p>
      <input type="hidden" name="redirect_uri" value="totp" />
    </form>
  </div><!-- row -->  
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
