
<div class="hero-unit">
  <h1>Not Supported</h1>
</div>

<div class="container">

  <div class="section">
  <div class="row">

    <div style="max-width: 600px; margin: 0 auto;">
      <h3>TOTP login (Google Authenticator) is no longer supported by indieauth.com</h3>
      <p>As part of the effort to be able to run indieauth.com on multiple servers, TOTP logins are no longer supported. This is because in order to support TOTP logins, the server needs to store the shared secret, and since this may be running on multiple completely separate servers, there isn't a good/easy way to synchronize the secrets between the servers.</p>
    </div>

  </div><!-- row -->  
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
