
<div class="hero-unit">
  <h1>Not Supported</h1>
</div>

<div class="container">

  <div class="section">
  <div class="row">

    <div style="max-width: 600px; margin: 0 auto;">
      <h3>TOTP login (Google Authenticator) is no longer supported</h3>
      <p>TOTP is a good solution as a second factor of authentication, but should not be the only factor. Additionally, TOTP requires pre-registering a secret with the server, and IndieAuth.com is not supposed to have a trust relationship with the people signing in.</p>
    </div>

  </div><!-- row -->
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
