
<div class="hero-unit">
  <h1>You Successfully Authenticated!</h1>
</div>

<div class="container">

  <div class="row" style="margin-bottom: 50px;">
    <div class="span12">
      <h2 style="text-align: center;">Congrats! You've successfully authenticated as <b><%= @me[:href] %></b></h2>
    </div>
  </div><!-- row -->

  <div class="section">
  <div class="row">

    <div class="span4 offset4">
      <p style="text-align: center;">Scan this QR code from your Google Authenticator app, then you can sign in using codes generated from the app!</p>
      <p style="text-align: center;"><img src="<%= @qrcode %>" /></p>
    </div>
    
  </div><!-- row -->  
  </div><!-- section -->

</div><!-- container -->

<%= partial :'partials/_footer' %>
